body {
    background-image: url("Styles/background.png");
}

.textBlue {
    color: #00247d;
}

.textOrange {
    color: #fc741c;
}

textarea {
    resize: none;
  }

button {
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    background-color: #a3a3a3;
}