<div ng-controller="regCTRL" class="row">
    <h1 class="col-12 text-center textBlue"> Registrácia </h1>
    <div ng-if="uzivatel.user == null" class="text-center col-md-3 col-sm-6 col-10 login">
        <div class="col-12">Uživatelské meno:</div>
        <input class="name text-center" type="text" ng-model="name" required minlength="4" maxlength="16"><br>
        <div class="col-12">Heslo:</div>
        <input class="password text-center" type="password" required minlength="4" maxlength="16" ng-model="password"><br>
        <div class="col-12">E-mail:</div>
        <input class="password text-center" type="email" required minlength="4" maxlength="16" ng-model="password"><br>
        <div class="col-12">Dátum narodenia:</div>
        <input class="password text-center" type="date" required minlength="4" maxlength="16" ng-model="password"><br>

        <div class="col-12">Súhlasím s licenčnými podmienkamy:
        <input class="password text-center" type="checkbox" required minlength="4" maxlength="16" ng-model="password"><br></div>

        <br>
        <h5><a ng-click="klikRegistracia()" class="butPrihlasit">Registrovať</a></h5>
    </div>

    <h3 ng-if="uzivatel.user != null" class="col-12 text-center textBlue"> Ste prihlásený </h3>

    <div class="col-sm-10 col-11 text-justify textBlue loginText">
        <h1>Licenčné podmienky</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla Lorem
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc
    </div>
</div>
