
div.head {
    background-image: linear-gradient(#CCC, #FFF);
    border-bottom: 5px solid #00247d;
}

div.privitanie {
    color: #00247d;
	font-size: 20px;
	font-weight: bold;
}

img.logo {
    width: 100%;
}

div.prihlasenie {
    padding: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #00247d;
    border-radius: 10px;
    text-decoration: none;
}
div.prihlasenie:hover {
    background: #0637b3;
}

a.nemaUcet {
    font-size: 12px;
}

div.menu {
    margin-top: 15px;
    padding: 5px;
    margin: auto;
    width: 100%;
    margin-bottom: 5px;

    background-color: #fc741c;
    border-radius: 10px;
}

a.menuPrvok {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.menuPrvok:hover {
    color:  #0637b3;
}